@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .presentation {
    margin: 50px 0;
    background: url('./img/1.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

header .presentation::after {
    content: 'Best items for your home.';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #2d2d2d;
}

header .presentation::before {
    content: 'Check summer sail';
    position: absolute;
    top: 230px;
    left: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
}

footer {
    text-align: center;
    margin-top: 100px;
}

